%br
#container2
  .row
    .profile
      %center
        %img.img-thumbnail{:src => "/images/mariza_head_photo.jpg", :style => "width:50%;height:50%;"}
          .social_media.bottom
          %a{:href => "https://www.facebook.com/mariza.swart", :target => "_blank", :title => "follow me on facebook"}
            %img{:alt => "follow me on facebook", :border => "0", :src => "https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png"}/
          %a{:href => "https://www.linkedin.com/in/mariza-swart/", :target => "_blank", :title => "follow me on LinkedIn"}
            %img{:alt => "follow me on LinkedIn", :border => "0", :src => "https://www.shareicon.net/data/48x48/2017/06/30/888051_logo_512x512.png"}/
          %a{:href => "https://www.instagram.com/marizaswart/", :target => "_blank", :title => "follow me on instagram"}
            %img{:alt => "follow me on instagram", :border => "0", :src => "https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png"}/
    .contact
      %h3
        %strong Contact Me
      %p You are always welcome to contact me directly by email but you can leave your name, company and email address here.
      #frm1
        %form{:action => "http://formspree.io/mariza.swart@gmail.com", :method => "POST"}
          %input.form-control{:name => "email", :placeholder => "Your email", :type => "email"}
          %br
          %textarea.form-control{:name => "message", :placeholder => "Your message"}
          %br
          %button.btn.btn-dark{:type => "submit"} Send
  .row
    .cv_part
      #container
        .cv
          - data.cv.each do |job|
            %h4= job[:position]
            -# %img(src="#{job[:logo]}" style="width:10%;height:10%;")
            %p= job[:date]
            %li= job[:item1]
            %li= job[:item2]
            %li= job[:item3]
            %br
    .skills
      %h3
        %strong Skills

      %p HTML
      .progress
        .progress-bar.bg-dark{"aria-valuemax" => "50", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width:70%"}

      %p Ruby
      .progress
        .progress-bar.bg-dark{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "30", :role => "progressbar", :style => "width:30%"}

      %p Javascript
      .progress
        .progress-bar.bg-dark{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width:40%"}
      .quotes
        %h3
          %strong Quotes
          %blockquote
            "Mariza is awesome"
