#container
  .projects
    - data.projects.each do |project|
      .card.text-center
        .card-block
          %h4= project[:name]
          %img.card-image(src="#{project[:image]}" style="width:60%;height:40%;")
          %p= project[:language]
          %p= project[:description]
          %a{href:"#{project.url}"}
          %br
